<center>

    <h1>Add a  <span class="badge badge-secondary">Contact</span></h1><BR>
 <div class="jumbotron jumbotron-fluid col-md-6">
  <form action="/" method="POST">
    <div class="form-group col-4">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
    </div>
    <div class="form-group col-4">
      <label for="exampleInputPassword1">DOB</label>
      <input type="date" class="form-control" id="date">
    </div>
    <div class="form-group col-4">
      <label for="exampleInputPassword1">Phone</label>
      <input type="text" class="form-control" id="Phone" name="phone">
    </div>
    <div class="form-group col-4">
      <label for="exampleInputPassword1">Email</label>
      <input type="email" class="form-control" id="email">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
</center>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
