<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Rentomojo</title>
</head>
<body>
    <center>
    <div class="jumbotron" style="height: 500vh;"><br><br>
        <h1 class="display-4">Welcome to Rentomojo</h1>
        <p class="lead">You ask we do it for you!.</p>
        <hr class="my-4">
        <a class="btn btn-success btn-lg" href="/login" role="button">Login</a>
        <a class="btn btn-danger btn-lg" href="/register" role="button">Register</a>

      </div>
      </center>
    
</body>
</html>